@if (ViewBag.IsAuthenticated)
{


    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Welcome " + Session["UserName"].ToString() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav navbar-nav navbar-right" })</li>
        <li>@Html.ActionLink("Profile", "UserProfile", "Home", new { area = "" }, new { @class = "nav navbar-nav navbar-right" })</li>
        <li>@Html.ActionLink("Signout", "LogOff", "Account", new { area = "" }, new { @class = "nav navbar-nav navbar-right" ,@style= "color: #428bca; text-decoration: underline; "})</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
